.home__page{
    display: flex;
    flex-direction: column;
    background: radial-gradient(ellipse at top, #ffffff -10%, #000000 100%);
	height: 100vw * 1%;
}

.home__page__body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__page__middle{
    position: relative;
    width: 60%;
    margin-top: 5px;
    flex-direction: row;
}