.sidebar__row {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 10%;
    transition: 1s;
    height: 30px;
}

.sidebar__title {
    margin-left: 10px;
    font-weight: 600;
    font-size: 0;
}

.sidebar__row:hover {
    background-color: rgb(190, 190, 190);
    border-radius: 999px;
    width: 7%;
}

.sidebar__btn{
    position: relative;
    overflow: hidden;
    left: 0px;
    border-radius: 999px;
    background-color: black;
    width: 25px;
    height: 25px;
    transition: 1s;
}

.sidebar__row:hover
.sidebar__btn{
    position: relative;
    left: 98px;
    transition: 1s;
}

.sidebar__row:hover
.sidebar__title{
    font-size: medium;
    transition: 1.2s;
}